<%# <h1>Students</h1> %>

<h1>Students</h1>

<table border>
  <% @students.each do |std| %>
    <tr>
      <td><%= link_to std.name, student_path(std) %></td>
      <td><%= button_to 'Edit', edit_student_path(std), method: 'get' %></td>
      <td><%= button_to 'Delete', student_path(std), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <%= link_to "Add a new student", new_student_path %>
</table>
